@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">BeFit</h1>
    <p class="lead">Witaj w aplikacji BeFit - Twoim osobistym asystencie treningowym!</p>
</div>
